h1 {
	text-align: center;
}

div {
	text-align: center;
	margin-top: 20px;
}
/*.size {
	width: 10%;
	border-radius: 50%;
	background-color: #337ab7;
	text-align: center;
}*/


img {
	height: 300px;
}
img:hover {
	
}

